.navbar {
    border-radius: 0;
}

h1 {
    color: #ff0075;
}

a {
    color: #05508c 
}
body {
    padding-block-end: 50px;
    /* padding-bottom: 50px; */
}

a.nav-link {
    color: #3200ca8a
}

.post-img {
    width: 44%;
}